.tasksList {
    margin-top: 2em;
    border-radius: 4em;
    background-color: aqua;
    li {
        list-style: none;
        text-align: center;
        padding: 1em;
        background-color: rgb(255, 0, 0);
        height: 50px;
        border-bottom: 2px solid rgb(70, 64, 64);
    }
}